/* configuration */
* {box-sizing: border-box;}

* {
    margin: 0;
    padding: 0;
}

[show] {display: none;}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--page-background-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

body::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--page-filter-color);
    opacity: var(--page-filter-opacity);
    pointer-events: none;
}

/* modal */

.modal {
    min-width: 300px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid darkgrey;
    box-sizing: border-box;
}

.modal * {
    box-sizing: border-box;
}

.modal .title {
    padding: 10px;
    border-bottom: 1px solid darkgrey;
    font-weight: bold;
}

.modal .modal-body {
    min-height: 50px;
    padding: 5px;
    /*width: 200px;*/
    text-align: right;
}

.modal .button-panel {
    padding: 10px; 
    border-top: 1px solid darkgrey;
    text-align: right;
}

.modal .button-panel button {
    padding: 5px 10px;
    background-color: lightblue;
    margin: 5px;
}

/* get-value */
.get-value .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-value input {
    display: block;
    width: 200px;
    line-height: 1.2em;
    margin: 10px;
}
