#include _system/_internal/_internal.xml
#include _system/_internal/_list.xml
#include _system/_internal/body.xml
#include _system/_internal/define.xml
#include _system/_internal/image-list.xml
#include _system/_internal/page-config.xml
#include _system/_internal/smtp-config.xml
#include _system/_internal/video-list.xml

#include _system/aichat/aichatbot.xml
#include _system/aichat/vector-docs.xml
#include _system/aichat/vector-urls.xml

#include _system/align/align.xml
#include _system/align/center.xml
#include _system/align/fitheight.xml
#include _system/align/fitwidth.xml
#include _system/align/gap.xml
#include _system/align/left.xml
#include _system/align/pos-bottom-left.xml
#include _system/align/pos-bottom-right.xml
#include _system/align/pos-bottom.xml
#include _system/align/pos-left.xml
#include _system/align/pos-middle.xml
#include _system/align/pos-right.xml
#include _system/align/pos-top-left.xml
#include _system/align/pos-top-right.xml
#include _system/align/pos-top.xml
#include _system/align/right.xml
#include _system/align/textalign.xml

#include _system/comms/broadcast.xml
#include _system/comms/watch.xml

#include _system/content/auto-checkbox.xml
#include _system/content/auto-input.xml
#include _system/content/datetime.xml
#include _system/content/dropdown.xml
#include _system/content/image.xml
#include _system/content/inline.xml
#include _system/content/media.xml
#include _system/content/social-icon.xml
#include _system/content/text-block.xml
#include _system/content/uploaded-docs.xml
#include _system/content/value.xml

#include _system/data/count.xml
#include _system/data/stat.xml

#include _system/elements/banner.xml
#include _system/elements/carousel.xml
#include _system/elements/circle.xml
#include _system/elements/container.xml
#include _system/elements/currency-icon.xml
#include _system/elements/currency.xml
#include _system/elements/flag.xml
#include _system/elements/flex.xml
#include _system/elements/icon-list.xml
#include _system/elements/icon.xml
#include _system/elements/line.xml
#include _system/elements/navbar.xml
#include _system/elements/rating.xml
#include _system/elements/space.xml
#include _system/elements/toggle-view.xml
#include _system/elements/toolbar.xml
#include _system/elements/tooltip.xml

#include _system/forms/check-human.xml
#include _system/forms/color-picker.xml
#include _system/forms/email-form.xml
#include _system/forms/input-group.xml
#include _system/forms/modal.xml
#include _system/forms/save-form.xml
#include _system/forms/xdropdown.xml
#include _system/forms/xform.xml
#include _system/forms/xradio.xml

#include _system/layout/column.xml
#include _system/layout/cover.xml
#include _system/layout/draggable-layout.xml
#include _system/layout/draggable.xml
#include _system/layout/dynamic-grid.xml
#include _system/layout/flex-column.xml
#include _system/layout/fullscreen.xml
#include _system/layout/grid.xml
#include _system/layout/layers.xml
#include _system/layout/layout.xml
#include _system/layout/list.xml
#include _system/layout/row.xml
#include _system/layout/screencover.xml
#include _system/layout/static-grid.xml

#include _system/logic/click.xml
#include _system/logic/event.xml
#include _system/logic/if.xml
#include _system/logic/repeat.xml
#include _system/logic/show.xml
#include _system/logic/switch.xml
#include _system/logic/toggle-class.xml

#include _system/media/qrcode.xml
#include _system/media/qrscanner.xml
#include _system/media/screen-recorder.xml
#include _system/media/video-recorder.xml

#include _system/objects/objects.xml
#include _system/objects/search-results.xml
#include _system/objects/search.xml

#include _system/styles/add-libs.xml
#include _system/styles/css.xml
#include _system/styles/font.xml
#include _system/styles/styled.xml
#include _system/styles/sudo.xml
#include _system/styles/xstyle.xml

#include _system/user/change-password.xml
#include _system/user/forgot-password.xml
#include _system/user/loginform.xml
#include _system/user/logout.xml
#include _system/user/register.xml
#include _system/user/reset-password.xml
#include _system/user/user.xml

#include _system/collections.xml
#include _system/functions.xml
#include _system/validations.xml
#include _system/views.xml

#define default-icon-size       30px
#define default-tooltip-height  20px
#define default-tooltip-style   background-color: #fefefe;border:1px solid grey; margin-top: 2px; padding: 3px;max-width:250px;overflow-wrap: break-word;

<xtemplate name="t.default">
    <html>
        <v.head/>
        <body>
            <v.header/>
            <div class="page-content" style="[$page-style]">
                <content/>
            </div>
            <v.footer/>
        </body>
    </html>
</xtemplate>
